# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview
The test plan has been concluded and is a success. I was able to test with great efficency since I had a lot of knowledge of the game and its 
details prior to testing. The tests were able to yield enough information to pass the requiered amount stated in the testing plan. The tests
done will inform what features need to be changed, inspected, or removed in this game or others in future development.

#### Number of Test performed
Ten tests were performed and completed based on the Test Plan guidelines. Every test was done through field testing and confirmed by 
matching results with other existing documentations. In some cases the tests could not replicate specfic products due to no longer being 
possible to produce or the rarity of the product. These specific case are documented accordingly.

#### Number of Defects

(Paragraph)

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

(Paragraphs)

#### Hardware Configuration

(Paragraph)

### Recommendation

(Paragraphs)
* Very technical summary of the results and where things can be improved or what course of action the game should take as a result of the testing.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| | | | |
