# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview
The test plan has been concluded and is a success. I was able to test with great efficency since I had a lot of knowledge of the game and its 
details prior to testing. The tests were able to yield enough information to pass the requiered amount stated in the testing plan. The tests
done will inform what features need to be changed, inspected, or removed in this game or others in future development.

#### Number of Test performed
Ten tests were performed and completed based on the Test Plan guidelines. Every test was done through field testing and confirmed by 
matching results with other existing documentations. In some cases the tests could not replicate specfic products due to no longer being 
possible to produce or the rarity of the product. These specific case are documented accordingly.

#### Number of Defects
There is a total of seven defects that meet the Test Plan guidelines, with two being no longer defective and one being inconclusive. Every defect does affect the game play and/or its consumer base in way a that is important based on the guidelines. The two tests that weren't were fixed or removed and is no longer considered a defect. The one test that is inconclusive is due to enough evidence to create said test, but not enough to confirm it as a defect.

#### Requirements Status
All test meet beyond the requirements stated in the Test Plan. Prior testing I had personally accumulated immense information and experience. In fact, i had recommended this game because of how much i already knew about it. I also have the needed hardware to run the 
test specified.

### Test Environment
The testing enviroment was mainly done within my living arangement with online meetings and messaging to keep the project updated.
Meetings where scheduled and attended accordingly.

#### Hardware Configuration
There was no hardware configuration due to said hardware already being available and ready for testing.

### Recommendation
Little can be done to the game now in its current state. However, the data here can used to foster a loyal player base in future releases.
While games do make the majority of their profits durng initial launch, having an active player base long after the release bring in 
steady income from project that now requies little to no resources to manage and allowing much greater funding for future projects. The 
best case scenario is to have both large player base and appeal to keep getting new players while retaining existing ones.

## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| | | | |
